body{ 
  margin-left: 50px;
  margin-right: 50px
}

.homepage-header{
  text-align: center;
  margin-top: 25px;
  color: antiquewhite
}

.navbar{
  width:100%
}

.history-header{
  text-align: center
}

.history-page-header6{
  text-align: center
}

.history-table{
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto

}