{% extends '_layout.html'%}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
</head>

<body>
    <div class="helikopter vertical-center">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-6 align-self-center content">
                    <h2>Help</h2>
                    <hr>
                    <h5>Need help? Contact us at support@helikopter.com</h5>

                </div>
            </div>
        </div>
    </div>

</body>

</html>
{% endblock %}