<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block header %}{% endblock %}
  <title> {% block title %}{% endblock %}HELIKOPTER</title>
</head>

<body>
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="navbar bg-light">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('users.new') }}">Sign up</a>
          </li>
          {% endif %}

          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('sessions.show') }}">Sign in</a>
          </li>
          {% endif %}

          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('users.edit', id=current_user.id) }}">Edit settings</a>
          </li>
          {% endif %}

          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('history.show', name=current_user.name)}}">Your Link History</a>
          </li>
          {% endif %}

          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('sessions.logout')}}">Logout</a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('users.help')}}">Help</a>
          </li>
        </ul>
      </div>
    </div>

    <nav class="navbar navbar-transparent bg-transparent">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

    </nav>
  </div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  {% block content %}
  {% endblock %}
</body>

</html>