{% extends '_layout.html' %}
{% block content %}

<div class="helikopter vertical-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-6 align-self-center content">
                <h1 class="history-header">Your History</h1>
                <h6 class="history-page-header6">Below is a list of blocked links that have been attempted to be
                    accessed either by yourself or someone using your computer.</h6>

                <table class="history-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}