{% extends '_layout.html' %}
{% block content %}

<div class="helikopter vertical-center">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-6 align-self-center content">
                <h2 class="history-header">Your History</h2>
                <h6 class="history-page-header6">Below is a list of blocked links that have been attempted to be
                    accessed either by yourself or someone using your computer.</h6>

                <table class="history-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Link</th>
                            <th scope="col">Attempted Access Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>

                            <td>{% for link in user.links %}
                                <a href="{{link.link}}">Blocked Site</a>
                                {% endfor %}</td>

                            <td>{% for link in user.links %}
                                {{link.created_at.strftime('%d '' %B '' %Y')}}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}